ul {
	list-style: none;
	padding: 0px;
}
nav {
	width:790px;
	float:left;
	display: flex;
	justify-content: center;
}
nav > div{
	
}
nav > div > span {
	text-align: center;
}
html {
	position: fixed;
	width: 800px;
}
.mainHeader {
	margin-left: 100px;
	text-align: center;
}
.tab {
	border-style: solid;
	border-width: 0.3em 0.3em 0.3em 0em;
	border-color: gray;
	padding: 1em 1em;
	width:110px;
	float:left;
	display: inline-block;
}
#position {
	border-width: 0.3em;
	
}
.userId {
	font-size:1.4em;
	font-weight: 900;
}
.userSNSInfo, .userMessage {
	color:gray;
}
.userSNSInfo {
	font-size:0.8em;
}
.userSNSInfo > li{
	display: inline-block;
}
.mainHeader {
	margin: auto;
	text-align: center;
}
.eleDisplayShow {
	display: block;
}
section {
	float:left;
	display: none;
	padding-top:20px;
	width:750;
}
.selectedTab {
	color:white;
	background-color: orange;
}
.count {
	color:green;
}
dt {
	font-size: 1.3em;
	font-weight: bold;
}
